@media screen and (min-width: 481px) and (max-width: 768px) {
  #myself {
    font-size: 50px;
    color: darkblue;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 34%;
    opacity: 1;
    width: 12em;
  }
  .rine-1 {
    border-right: 1px solid rgba(25, 25, 25, 0.904);
    white-space: nowrap;
    overflow: hidden;
    color: blue;
  }
  /* Animation */
  .anim-typewriter {
    animation: typewriter 5s steps(44) 1s 1 normal both,
      blinkTextCursor 2s steps(40) normal;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 12em;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-right-color: transparent;
    }
    to {
      border-right-color: rgb(37, 37, 37);
    }
  }
}
